.divfuori {
  width: 50%;
  padding-top: 40px;
}
form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 grey;
  padding: 24px;
  width: 100%;
}
::placeholder {
  color: #90949c;
}
