<!-- <ng-container *ngIf="utente?.user?.id === 1; else standard">
  <div class="container mt-4 d-flex flex-wrap">
    <div class="col-md-3" *ngFor="let single of requestPost">
      <div class="card p-3">
        <div class="card-body">
          <h4 class="card-title">{{ single.title }}</h4>
          <p class="card-text">{{ single.body }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->
<ng-container *ngIf="utente?.user?.id === 1; else standard">
  <div class="container d-flex justify-content-center">
    <div class="card principaleCard" *ngFor="let single of requestPost">
      <h5 class="card-header">{{ single.title }}</h5>
      <div class="card-body partebody position-relative">
        <p class="card-text">
          {{ single.body }}
        </p>
        <p class="position-absolute datapost">
          {{ utente?.user?.nome + " " + utente?.user?.cognome }}
        </p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #standard>
  <form class="mt-5" [formGroup]="form" (ngSubmit)="Submit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        required
        placeholder="Write your title:"
      />
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body:</label>
      <textarea
        type="text"
        class="form-control"
        id="body"
        cols="30"
        rows="10"
        formControlName="body"
        required
        placeholder="Write your post:"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Submit
    </button>
  </form>
</ng-template>
