.imgPrf {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.profilocard {
  background-color: white;
}
.card {
  height: 200px;
  position: relative;
  margin: 10px;
  .card-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  .input-div {
    label {
      font-size: 0.8rem;
    }
    input {
      height: 30px;
    }
  }
  #modify-button {
    width: 65px;
    font-size: 10px;
  }
  .card-title,
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .btn {
    padding: 6px;
  }
}
