<div
  [ngClass]="{ 'padding-container': post.img === '' && modify === false }"
  class="container d-flex justify-content-center"
>
  <div>
    <ng-container
      class=""
      *ngIf="
        post && modify === false && post.id !== itemToModifyId;
        else modificato
      "
    >
      <div class="card principaleCard">
        <ng-container *ngIf="post.img !== ''">
          <img [src]="post.img" class="card-img-top" alt="" />
        </ng-container>
        <div class="card-body partebody position-relative">
          <ng-container *ngFor="let user of allUsers">
            <div
              class="creator-of-post-section d-flex flex-row align-items-center gap-2 mb-2"
              *ngIf="user.id === post.userId"
            >
              <div class="d-flex flex-row align-items-center gap-2">
                <img [src]="user.immaginePrf" alt="" />
                <div class="d-flex flex-column">
                  <span class="name-surname"
                    >{{ user.nome }} {{ user.cognome }}</span
                  ><span class="job">{{ user.impiego }}</span>
                </div>
              </div>
            </div>
          </ng-container>

          <h5>{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <div class="card-button text-end divbottone">
            <ng-container
              *ngIf="utente?.user?.id === post.userId || hasFullAccess()"
            >
              <button
                class="btn btn-outline-primary border-0 mx-1"
                (click)="modifyPost(post.id)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #modificato>
      <form
        class="h-100 d-flex flex-column justify-content-between"
        [formGroup]="modifyPostForm"
        (submit)="onEdit(post.id)"
      >
        <div>
          <div class="input-div">
            <label for="inputTitle" class="form-label">Titolo: </label>
            <input
              type="text"
              name="title"
              class="form-control"
              id="inputTitle"
              formControlName="title"
            />
          </div>
          <div class="input-div">
            <label for="inputPhoto" class="form-label">Foto: </label>
            <input
              type="text"
              name="img"
              class="form-control"
              id="inputPhoto"
              formControlName="img"
            />
          </div>
          <div class="input-div">
            <label for="inputBody" class="form-label">Body</label>
            <textarea
              type="text"
              name="body"
              class="form-control"
              id="inputBody"
              formControlName="body"
              cols="30"
              rows="5"
            ></textarea>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between mt-2">
          <button
            type="submit"
            id="modify-button"
            class="btn btn-primary"
            [disabled]="!modifyPostForm.valid"
          >
            Conferma
          </button>
          <button
            type="button"
            id="modify-button"
            (click)="deleteOp()"
            class="btn btn-danger"
          >
            Annulla
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
