.container {
  position: relative;
  .precedente {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.principaleCard {
  margin-top: 1rem;
  width: 500px;
  img {
    height: 250px;
    overflow: hidden;
    object-fit: cover;
  }
}
.padding-container {
  padding-top: 7rem;
}
.creator-of-post-section {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
  .name-surname {
    font-size: 15px;
    font-weight: bold;
  }
  .job {
    font-size: 11px;
  }
}
.p-40 {
  padding-top: 40px;
}
form {
  width: 500px;
}
