<div class="container d-flex justify-content-center">
  <ng-container class="" *ngIf="post; else nonTrovato">
    <div class="card principaleCard">
      <h5 class="card-header">{{ post.title }}</h5>
      <div class="card-body partebody position-relative">
        <p class="card-text">
          {{ post.body }}
        </p>
        <p class="position-absolute datapost">{{ final }}</p>
      </div>
    </div>
  </ng-container>
  <a class="btn btn-primary precedente" [routerLink]="['/posts']">Torna Indietro</a>
</div>

<ng-template #nonTrovato>
  <h1 class="text-center m-4">Post non trovato!</h1>
</ng-template>
