<!-- <form (ngSubmit)="Submit()">
  <div class="form-control">
    <div formGroupName="postinfo">
      <label for="title">title:</label>
      <input
        type="text"
        name="title"
        id="title"
        [(ngModel)]="posts"
        required
      />

      <br />
      <br />
      <label for="body">biografia: </label>
      <textarea
        id="body"
        [(ngModel)]="post.body"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>

    <button type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form> -->
<form [formGroup]="form" (ngSubmit)="Submit(); deleteNewPostOp(false)">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input
      type="title"
      class="form-control"
      id="title"
      formControlName="title"
      placeholder="Write your title:"
    />
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Body:</label>
    <textarea
      type="body"
      class="form-control"
      id="body"
      cols="30"
      rows="5"
      formControlName="body"
      placeholder="Write your post:"
    ></textarea>
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Crea Post
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteNewPostOp(false)"
    >
      Annulla
    </button>
  </div>
</form>
