.colonna {
  background-color: unset;
  .text-shadow {
    text-shadow: 2px 2px 2px black;
  }
  .card {
    height: 150px;

    .card-body {
      .card-title,
      .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: white;
      }
    }
    .card-button {
      height: 50px;
      display: flex;
      justify-content: space-around;
    }
    &::after {
      content: "";
    }
  }
}
.creator-of-post-section {
  color: white;
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
  .name-surname {
    font-size: 14px;
    font-weight: bold;
    text-align: start;
  }
  .job {
    font-size: 11px;
    text-align: start;
  }
}
