<div class="container mt-4 d-flex flex-wrap">
  <div class="col-12 col-md-4 col-lg-3 colonna p-1" *ngFor="let item of posts">
    <div
      class="card cardimg"
      style="background-image: url('{{ item.img }}');background-size: cover;"
      [ngClass]="{ 'text-shadow': item.img !== '' }"
    >
      <div class="card-body">
        <h4 class="card-title">{{ item.title }}</h4>
        <p class="card-text">{{ item.body }}</p>
      </div>
      <div class="card-button text-end">
        <ng-container *ngFor="let user of allUsers">
          <div
            class="creator-of-post-section d-flex flex-row align-items-center gap-2 mb-2 me-auto ms-1"
            *ngIf="user.id === item.userId"
          >
            <div class="d-flex flex-row align-items-center gap-2">
              <img
                [src]="
                  user.immaginePrf === ''
                    ? 'https://images.unsplash.com/photo-1533794299596-8e62c88ff975?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    : user.immaginePrf
                "
                alt=""
              />
              <div class="d-flex flex-column">
                <span class="name-surname"
                  >{{ user.nome }} {{ user.cognome }}</span
                ><span class="job">{{ user.impiego }}</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            hasFullAccess() || utente?.user?.id === item.userId;
            else normaluser
          "
        >
          <button
            class="btn btn-outline-primary border-0 mx-1"
            (click)="singlepost(item.id)"
          >
            <i class="bi bi-search"></i>
          </button>

          <button class="btn btn-outline-danger border-0">
            <i class="bi bi-trash"></i>
          </button>
        </ng-container>
        <ng-template #normaluser>
          <button
            class="btn btn-outline-primary border-0 mx-1"
            (click)="singlepost(item.id)"
          >
            <i class="bi bi-search"></i>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
